@import "../../styles/variables.scss";

a {
    color: #ff9000;
}

.contentLeft {
    margin-top: 20px;
    width: 598px;
    background-color: #0b0f13;
    float: left;
    padding: 1px;
    position: relative;
    bottom: 70px;
    .shadow {
        box-shadow: inset 0 0 10px #555657;
        float: left;
        width: 578px;
        padding: 10px;
        h4 {
            color: #ff9000;
            text-align: center;
            font-size: 20px;
            float: left;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.createCharacter {
    text-align: center;
    margin: 0 auto;
    width: 500px;
    padding-top: 20px;
    button {
        margin-top: 50px;
        margin-bottom: 15px;
        border: none;
        background: #11171d;
        border: 1px solid #1a242d;
        color: #006e2e;
        font-size: 16px;
        font-weight: normal;
        padding: 5px 30px;
        cursor: pointer;
    }
    .content_general {
        width: 500px;
        height: 280px;
        margin-top: 25px;
        float: left;
        .content_left {
            width: 250px;
            height: 280px;
            float: left;
            .input_text {
                border: 1px solid #1a1d22;
                background: #000;
                padding: 5px;
                color: #485867;
                width: 150px;
                margin: 0 auto;
                float: left;
                margin-left: 44px;
                margin-bottom: 20px;
            }
            .text {
                float: left;
                color: #485867;
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }
            .canvasCharacter {
                width: 130px;
                margin: 0 auto;
                .character {
                    float: left;
                    width: 80px;
                    height: 100px;
                    background-color: #12171a;
                    border: 1px solid #1a1f25;
                }
                .faAngleLeft {
                    color: #333333;
                    float: left;
                    font-size: 23px;
                    font-weight: bold;
                    margin-right: 10px;
                    cursor: pointer;
                    margin-top: 20px;
                }
                .faAngleRight {
                    color: #333333;
                    float: left;
                    font-size: 23px;
                    font-weight: bold;
                    margin-left: 10px;
                    cursor: pointer;
                    margin-top: 20px;
                }
            }
        }
        .content_right {
            width: 250px;
            height: 280px;
            float: left;
            .text {
                color: #485867;
                margin-bottom: 10px;
                width: 100%;
                text-align: center;
                float: left;
            }
            .content_input_text {
                float: left;
                margin-bottom: 20px;
                margin-left: 26px;
                text-align: center;
                .input_text {
                    border: 1px solid #1a1d22;
                    background: #000;
                    padding: 5px;
                    color: #485867;
                    width: 150px;
                    margin: 0 auto;
                    float: left;
                    text-align: center;
                }
                .faAngleLeft {
                    color: #333333;
                    float: left;
                    font-size: 23px;
                    font-weight: bold;
                    margin-right: 10px;
                    cursor: pointer;
                }
                .faAngleRight {
                    color: #333333;
                    float: left;
                    font-size: 23px;
                    font-weight: bold;
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
            .margin_left {
                margin-left: 44px;
            }
        }
    }
}
