@import 'nib'

.contentBox
	padding 10px !important
	width 556px !important
	.infoSala
		color #496076
		margin-top 5px
		margin-bottom 5px
		float left
		width 100%
	.first-child
		margin-top 0
	.last-child
		padding-bottom 10px
		border-bottom 1px solid #1a242d
	.enterRoom
		color #ff9000
		text-align center
		background #0d1317
		cursor pointer
		padding 8px 15px
		border 1px solid #1a242d
		float left
		margin-top 5px
		margin-left 223px
	p
		margin-top 5px
		margin-bottom 5px
	.groupInput
		float left
		
		label
			color #496076
			float left
			margin-top 3px
			margin-right 10px
		.inputText
			float left
			width 476px
			height 20px
			background-color #0b0f13
			border-color #151C23
			border none
			color #525252
			padding-left 10px
			border 1px solid #1a242d
			background-color black
			font-size 15px
		.inputError
			border-color rgb(121, 17, 17)
	.infoLink
		padding-bottom 10px
		margin-bottom 10px
		border-bottom 1px solid #1a242d
		.inputText
			width 452px
	.groupPassword
		margin-top 15px
		width 100%
		.inputText
			width 450px
	.maxUser
		margin-top 15px
		width 100%
	.groupLevelMax
		margin-top 15px
		width 100%
		.inputText
			width 50px
	.groupCheck
		margin-top 15px
		float left
		#privateRoom
			margin-right 50px
	.createRoom
		color #ff9000
		text-align center
		background #0d1317
		cursor pointer
		padding 8px 15px
		border 1px solid #1a242d
		float left
		margin-top 20px
		margin-left 223px