@import 'nib'

#modalPlay
	margin-left -250px
	margin-top -200px
	position fixed 
	left 50% 
	z-index 15 
	width 500px
	background #0b0f13
	padding 1px
	display none
	.shadow
		box-shadow inset 0 0 10px #555657 
		width 100%
		height 100%
		padding 20px
		width 460px
		float left
		.header
			width 100%
			float left
			p
				margin 0
				color #ff9000
				float left
			.nameRoom
				float left
				text-align center
				text-decoration underline
			.help
				width 100%
				margin-top 10px
				font-size: 12px;
			.closeWindow
				float right
				color #ff9000
				cursor pointer
		.createCharacter
			float left
			width 100%
			.buttonRegister
				float left
				margin-top 20px
				border none
				background #11171d
				border 1px solid #1a242d
				color #006e2e
				font-size 16px
				font-weight normal
				padding 5px 30px
				cursor pointer
				margin-left 140.75px
				text-decoration none
		.contentGral
			font-size 14px
			text-align center
			float left
			width 80px
			margin-left 10px
			margin-top 10px
			.name
				height 32px
				float left
				width 80px
				color #ff9000
				margin-bottom 5px
				word-wrap break-word
			.contentImgLast
				margin-left 0
			.contentImgA
				float left
				background #11171d
				text-align center
				border 1px solid #18222c
				margin 0 auto
				background #24313d
				cursor pointer
				.bodyNakedImgA
					background-repeat no-repeat
					width 25px
					height 50px
					position absolute
					margin-top 29px
					margin-left 28px
					z-index 10
				.headImgA
					background-repeat no-repeat
					width 15px
					height 30px
					position absolute
					z-index 12
					margin-top 20px
					margin-left 35px
				.helmetImgA
					background-repeat no-repeat
					width 20px
					height 30px
					position absolute
					z-index 12
					margin-top 8px
					margin-left 29px
				.bodyImgA
					position absolute
					background-repeat no-repeat
					width 25px
					height 50px
					margin-top 29px
					margin-left 28px
					z-index 11
				.weaponImgA
					position absolute
					background-repeat no-repeat
					width 25px
					height 50px
					margin-top 28px
					margin-left 38px
					z-index 13