@import 'nib'

.shadow
	.help
		color #ff9000
		font-size 12px
.contentBox
	padding 10px
	width 556px !important
	.tableHeader
		background #0d1317
		color #ff9000
		float left
		text-align center
		border 1px solid #1a242d
		.rank
			width 120px
			float left
			padding 10px 0
			border-right 1px solid #1a242d
		.name
			width 312px
			float left
			padding 10px 0
		.kills
			width 120px
			float left
			padding 10px 0
			border-left 1px solid #1a242d
		.rankGeneral
			width 90px
		.nameGeneral
			width 230px
		.levelGeneral
			width 50px
			float left
			padding 10px 0
			border-left 1px solid #1a242d
		.killsGeneral
			width 90px
		.claseGeneral
			width 90px
			float left
			padding 10px 0
			border-left 1px solid #1a242d
	.row
		background #111a1d
		color #496076
		float left
		text-align center
		border 1px solid #1a242d
		border-top 0
		.rank
			width 120px
			float left
			padding 10px 0
			border-right 1px solid #1a242d
			span
				position relative
				top 21.5px
		.rankGeneral
			width 90px
		.name
			width 312px
			float left
			padding 10px 0
			a
				span
					position relative
					top 21.5px
			.character
				width 40px
				height 40px
				border 1px solid #1a242d
				float left
				margin-top 9px
				margin-left 9px
				margin-bottom 9px
				box-shadow 0px 0px 1px rgb(87, 87, 87)
				cursor pointer
				.bodyNakedImgCharacter
					background url("/assets/bodies/bodyNaked.png")
					background-repeat no-repeat
					width 25px
					height 16px
					position absolute
					margin-top 16px
					margin-left 8px
					z-index 10
				.headImgCharacter
					background url("../graficos/2053.png")
					background-repeat no-repeat
					width 15px
					height 30px
					position absolute
					z-index 12
					margin-top 7px
					margin-left 12.4px
				.helmetImgCharacter
					background-repeat no-repeat
					width 20px
					height 30px
					position absolute
					z-index 12
					margin-top -7px
					margin-left 9px
				.bodyImgCharacter
					position absolute
					background-repeat no-repeat
					width 25px
					height 16px
					margin-top 16px
					margin-left 8px
					z-index 11
			a
				color #496076
		.nameGeneral
			width 230px
			a
				text-decoration none
		.levelGeneral
			width 50px
			float left
			padding 10px 0
			border-left 1px solid #1a242d
			span
				position relative
				top 21.5px
		.kills
			width 120px
			float left
			padding 10px 0
			border-left 1px solid #1a242d
			span
				position relative
				top 21.5px
		.killsGeneral
			width 90px
		.claseGeneral
			width 90px
			float left
			padding 10px 0
			border-left 1px solid #1a242d
			span
				position relative
				top 21.5px
	.rowColor
		background #11191d