@import 'nib'

.register
	margin-top 15px
	form
		margin 0 auto
		width 360px
		text-align center
		margin-top 60px
		p
			margin-top 5px
			margin-bottom 5px
		.groupInput
			float left
			width 360px
			margin-bottom 10px
			label
				color #496076
				float left
				margin-top 10px
			.inputText
				float right
				width 200px
				height 30px
				background-color #0b0f13
				border-color #151C23
				border none
				color #525252
				padding-left 10px
				border 1px solid #1a242d
				background-color black
				font-size 15px
			.inputError
				border-color rgb(121, 17, 17)
				
		.buttonRegister
			margin-top 15px
			margin-bottom 15px
			border none
			background #11171d
			border 1px solid #1a242d
			color #006e2e
			font-size 16px
			font-weight normal
			padding 5px 30px
			cursor pointer