@import "../../styles/variables.scss";

.contentLeft {
    margin-top: 20px;
    width: 598px;
    background-color: #0b0f13;
    float: left;
    padding: 1px;
    position: relative;
    bottom: 70px;
    .shadow {
        box-shadow: inset 0 0 10px #555657;
        float: left;
        width: 578px;
        padding: 10px;
        h4 {
            color: #ff9000;
            text-align: center;
            font-size: 20px;
            float: left;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .register {
        margin-top: 15px;
        .form {
            margin: 0 auto;
            width: 360px;
            text-align: center;
            margin-top: 60px;
            p {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .groupInput {
                float: left;
                width: 360px;
                margin-bottom: 10px;
                label {
                    color: #496076;
                    float: left;
                    margin-top: 10px;
                }
                .inputText {
                    float: right;
                    width: 200px;
                    height: 30px;
                    background-color: #0b0f13;
                    border-color: #151c23;
                    border: none;
                    color: #525252;
                    padding-left: 10px;
                    border: 1px solid #1a242d;
                    background-color: #000;
                    font-size: 15px;
                }
                .inputError {
                    border-color: #791111;
                }
            }
            .buttonRegister {
                margin-top: 15px;
                margin-bottom: 15px;
                border: none;
                background: #11171d;
                border: 1px solid #1a242d;
                color: #006e2e;
                font-size: 16px;
                font-weight: normal;
                padding: 5px 30px;
                cursor: pointer;
            }
        }
    }
}
