body{
	background-image: url('../assets/imgs/background.png');
	background-repeat: repeat;
	margin: 0;
	padding: 0;
}

header{
	background-image: url('../assets/imgs/logo.png');
	background-repeat: no-repeat;
	margin: 0 auto;
	height: 87px;
	width: 418px;
	margin-top: 30px;
	margin-bottom: 50px;
	cursor: pointer;
}

#login{
	background-image: url('../assets/imgs/login.png');
	background-repeat: no-repeat;
	font-family: 'Doppio One', sans-serif;
	margin: 0 auto;
	height: 389px;
	width: 583px;
	color: #50483e;
}

#name{
	position: relative;
	top: 88px;
	height: 41px;
	left: 204px;
	border: 0;
	width: 264px;
	display: block;
	background: transparent;
	padding-left: 12px;
	font-size: 20px;
	color: #50483e;
	font-family: 'Doppio One', sans-serif;
}

#password{
	position: relative;
	top: 108px;
	height: 41px;
	left: 204px;
	border: 0;
	display: block;
	width: 264px;
	padding-left: 12px;
	background: transparent;
	font-size: 20px;
	color: #50483e;
	font-family: 'Doppio One', sans-serif;
}

#remember{
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 1px -15px;
	width: 25px;
	height: 28px;
	display: block;
	position: relative;
	top: 146px;
	left: 201px;
}

#createAccount{
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: -9px -140px;
	width: 143px;
	height: 69px;
	position: relative;
	top: 136px;
	left: 298px;
	display: block;
}

#enter{
	cursor: pointer;
	opacity: 0.5;
	width: 85px;
	height: 35px;
	position: relative;
	top: 186px;
	left: 181px;
	display: block;
}