@import "./variables.scss";

//General Styles
// @font-face {
//     font-family: "Avenir-Light";
//     src: url("/static/fonts/AvenirLTStd-Light.otf");
// }

// @font-face {
//     font-family: "Avenir-Roman";
//     src: url("/static/fonts/AvenirLTStd-Roman.otf");
// }

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial;

    background-color: #131920;
    background-image: url("/static/imgs/background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
